---
title: Service Metrics SDK for VMware Tanzu Release Notes
owner: London Services Enablement
---

<%= partial vars.path_to_partials + "/upgrade-planner" %>

# <a id="1-5"></a> 1.5.x

## <a id="new-features"></a> New Features

- The ability for metrics adapters to indicate that the service is not yet ready to return metrics, but to try again on the schedule.
  - Implement this feature by returning a `10` exit code from your metrics adapter.
- The service metrics adapter `metrics_command` is automatically detected if placed in a default location.
  - `/var/vcap/jobs/service-metrics-adapter/bin/collect-service-metrics` is the default.
  - Best practice is to template any command arguments into a script that is placed at the default location.
  - Script should be executable by `vcap`.
- `metrics_command_args` is now optional, best practice is to use the default command location and template arguments into a script, as described above.
- Info logging to indicate the metrics collection has started and finished.
- Verified BOSH release against a TLS enabled Metron environment
- Use Golang 1.8.3 [1.5.7]
- Release distributed with SHA2 checksums only [1.5.9]
- Use Golang 1.8.4 [1.5.10]
- Use Golang 1.10 [1.5.13]

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Bug fixes

- Remove unrequired NATS / ectd job properties from BOSH release
- BOSH package names are now namespaced to avoid conflicts with other BOSH releases [1.5.2]
- Assign least required file permissions to jobs and packages [1.5.3]
- Bump Golang version to 1.7.4 [1.5.4]
- Fix an issue which could cause collocated jobs to be unable to start [1.5.5]
- Resolves issue with duplicate syslog entries when co-locating syslog-release or syslog-migration-release. [1.5.7]
- Log files in `/var/vcap/sys/log/service-metrics/*` are no longer truncated when the service-metrics process restarts via Monit. We reccomend using [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) to ensure logs are not lost. [1.5.8]
- Log errors when there is a connection issue with metron [1.5.9]
- Service metrics now uses a drain script to prevent monit timeout issues [1.5.11]
- Resolve templating issue when using special characters in job properties [1.5.12]
