---
title: Service Metrics SDK for VMware Tanzu Release Notes
owner: London Services Enablement
---

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-6"></a>v1.6

## <a id="new-features"></a>New Features

## <a id="breaking-changes"></a>Breaking Changes

## <a id="bug-fixes"></a>Bug fixes
