---
title: Service Metrics Release Notes
owner: London Services Enablement
---

## <a id="1-6"></a>v1.6

## <a id="new-features"></a>New Features

## <a id="breaking-changes"></a>Breaking Changes

## <a id="bug-fixes"></a>Bug fixes
