---
title: Service Metrics Release Notes
owner: London Services Enablement
---

## <a id="new-features"></a>New Features
- None

## <a id="breaking-changes"></a>Breaking Changes
- None

## <a id="bug-fixes"></a>Bug fixes
- (Logging metrics command args in error scenarios](https://www.pivotaltracker.com/story/show/122026691)
